.main {
    background-color: #1d1d1d;
    font-family: Raleway;
    color: white;
    cursor: url("../images/signal-strength-cursor.png"), auto;
}

.header {
    transition: 0.2s;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height: 9.5vw;
    position: fixed;
}

.header > div {
    margin: 2vw 1vw 2vw 2vw;
    width: 20vw;
    height: 4.5vw;
    background-color: rgba(88,226,255,0.15);
    display: inline-block;
    box-shadow: 0px 0px 5px black, 0px 0px 20px black;
    font-size: 3vw;
    text-align: center;
    padding-top: 1vw;
    user-select: none;
}

.header > div:hover {
    background-color: rgba(88,226,255,0.6);
}

.header-logo ~ div {
    margin-right: 1vw;
    margin-left: 0vw;
    padding-top: 0.5vw;
    width: 15vw;
    height: 4.2vw;
    font-size: 2vw;
    font-weight: bold;
    display: inline-block;
}

.header-logo + div {
    margin-left: 44vw;
}

.header b {
    font-weight: 700;
    color: deepskyblue;
}

.header-logo > img {
    width: 2.37vw;
    margin-bottom: -0.59vw;
    margin-right: -1.3vw;
    
}

.header-logo ~ div > img {
    width: 2.8vw;
    vertical-align: middle;
    margin-bottom: 0.3vw;
    margin-right: 0vw;
}

@media (max-width: 1280px) {
    .header > div ~ div {
        display: none;
    }
}
