html {
    scroll-behavior: smooth;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    min-height: 3vw;
}

#img1,
#img2,
#img3,
#img4 {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    float: right;
    margin-right: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.main {
    background-color: #1d1d1d;
    font-family: Raleway;
    color: white;
    cursor: url("../images/signal-strength-cursor.png"), default;
}

.logo {
    width: 15vw;
    transition: all 0.5s;
    padding-top: 0.54vw;
}

.zdj {
    width: 10vw;
    margin-top: ;
    float: right;
    transition: all 0.5s;
    box-shadow: 0px 0px 5px black, 0px 0px 20px black;
}

#zdj {
    margin-right: 1vw;
}

* {
    box-sizing: border-box;
}

#navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    position: fixed;
    width: 100%;
    padding: 1vw;
    z-index: 99;
}

.content {
    text-align: center;
    margin-top: 10vh;
}

h1 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

h2 {
    font-size: 2vw;
}

.phones {
    padding-top: 2vw;
    background-color: black;
    height: 50vw;
}

.phones > div {
    display: inline-block;
}

.phones > div > h2 {

    min-width: 25vw;
}

.popular-phones {
    margin-top: 1vw;
    width: 20vw;
    transition: 0.5s;
    display: none;
    opacity: 0;
}

.articles {
    display: none;
}
#articles{
    text-align: center;
    padding-top: 6vw;
}